#Newheader
{
	background-color: #EEF2FB;
	height: 400px;
}
#nhhe
{
	padding-left: 10px;
	padding-top: 15px;
}
#Newbanner
{
	padding-left: 10px;
	padding-top: 20px;
}
#Newmain div
{
	height: 20px;
	text-align: center;
	float: left;
	margin-top: 5px;
}
#Newmain
{
	border: dotted 1px #808080;
	width: 760px;
	height: 250px;
	margin-left: 10px;
}
#Newfooter
{
	padding-top: 30px;
	padding-left: 150px;
}
a
{
	text-decoration: none;
}
